# SERVER
PORT=8811
APP_BASE_URL=http://localhost:8811
APP_NAME=creator-cards-api

# JWT
JWT_SECRET=
JWT_DEFAULT_EXPIRY=

# HASH
HASH_SALT_ROUNDS=

# EMAIL
RESEND_TOKEN=
RESEND_SENDER_ADDRESS=
ALLOW_ALL_EMAILS=
EMAIL_NOTIF_INTERVAL_MINS=
EMAIL_FALLBACK_SLACK_WEBHOOK=


# DB
# Local:
MONGODB_URI=mongodb://localhost:27017/creator-cards
# Atlas (replace YOUR_PASSWORD and ensure Network Access allows 0.0.0.0/0):
# MONGODB_URI=mongodb+srv://mangesh:YOUR_PASSWORD@cluster0.jt6hrjf.mongodb.net/creator-cards?retryWrites=true&w=majority&appName=Cluster0

# MOCK
MOCK_AUTHORIZATION_HEADER=
MODEL_MOCK_SESSION=
USE_MOCK_MODEL=
ALLOW_MOCKED_HTTP_PROXY=


# LOGGER
PINO_LOG_LEVEL=info
SHOW_RAW_HEADERS=
LOG_APP_REQUEST=1
CAN_LOG_ENDPOINT_INFORMATION=

#REDIS
REDIS_URL=
QUEUE_NAME=

#VALIDATOR
NO_SINGLE_ERRORS=1
TOP_LEVEL_ERROR_MESSAGE=Invalid request data

#SECRET MANAGER
AWS_ACCESS_KEY_ID=
SECRETS_MANAGER_ID=
USE_SECRETS_MANAGER=
AWS_SECRET_ACCESS_KEY=